In [1]:
import cmc_conc

In [2]:
list_of_surfactants = ['surfactant_1', None, None]
list_of_ratios = [1, 0., 0.]

In [3]:
cmc_estimate = cmc_conc.CMC_estimate(list_of_surfactants, list_of_ratios)
cmc_estimate

0.1

In [4]:
cmc_concs = cmc_conc.generate_cmc_concentrations(cmc_estimate)
cmc_concs

[0.03333333333333334,
 0.047140452079103154,
 0.06666666666666665,
 0.07500000000000001,
 0.085,
 0.095,
 0.10500000000000001,
 0.115,
 0.125,
 0.15000000000000005,
 0.2121320343559643,
 0.30000000000000004]

In [5]:
mix_stock_conc, vol = cmc_conc.surfactant_mix(cmc_concs = cmc_concs, list_of_surfactants = list_of_surfactants, list_of_ratios = list_of_ratios)

print(mix_stock_conc)
print(vol)

ValueError: too many values to unpack (expected 2)

In [20]:
vol

{'surfactant_1': 6.060606060606061,
 'Surfactant_2': 0,
 'Surfactant_3': 0,
 'Water': 993.939393939394}

In [10]:
df = cmc_conc.calculate_volumes(cmc_concs, mix_stock_conc)
df

    concentration  surfactant volume  water volume  probe volume  total volume
0        0.016667              32.67        264.33             3         300.0
1        0.023570              46.20        250.80             3         300.0
2        0.033333              65.34        231.66             3         300.0
3        0.037500              73.51        223.49             3         300.0
4        0.042500              83.31        213.69             3         300.0
5        0.047500              93.11        203.89             3         300.0
6        0.052500             102.91        194.09             3         300.0
7        0.057500             112.71        184.29             3         300.0
8        0.062500             122.51        174.49             3         300.0
9        0.075000             147.01        149.99             3         300.0
10       0.106066             207.91         89.09             3         300.0
11       0.150000             294.03          2.97             3         300.0

In [ ]:
list_of_surfactants

['surfactant_1', 'surfactant_2', None]

In [11]:
list_of_ratios

[0.5, 0.5, 0.0]

In [12]:
vol

{'surfactant_1': 153.030303030303,
 'surfactant_2': 153.030303030303,
 'Water': 693.939393939394}

In [13]:
df

    concentration  surfactant volume  water volume  probe volume  total volume
0        1.683333              32.67        264.33             3         300.0
1        2.380593              46.20        250.80             3         300.0
2        3.366667              65.34        231.66             3         300.0
3        3.787500              73.51        223.49             3         300.0
4        4.292500              83.31        213.69             3         300.0
5        4.797500              93.11        203.89             3         300.0
6        5.302500             102.91        194.09             3         300.0
7        5.807500             112.71        184.29             3         300.0
8        6.312500             122.51        174.49             3         300.0
9        7.575000             147.02        149.98             3         300.0
10      10.712668             207.91         89.09             3         300.0
11      15.150000             294.03          2.97             3         300.0