In [23]:
import cmc_exp

In [24]:
list_of_surfactants = ['s1', 's3', None]
list_of_ratios = [0.7, 0.3, 0.]

In [25]:
cmc_estimate = cmc_exp.CMC_estimate(list_of_surfactants, list_of_ratios)
cmc_estimate

6.07

In [26]:
cmc_concs = cmc_exp.generate_cmc_concentrations(cmc_estimate)
cmc_concs

[2.0233333333333334,
 2.8614254412015625,
 4.046666666666667,
 4.5525,
 5.1595,
 5.766500000000001,
 6.3735,
 6.9805,
 7.5875,
 9.105,
 12.87641448540703,
 18.21]

In [27]:
mix_stock_conc, vol = cmc_exp.surfactant_mix(cmc_concs = cmc_concs, list_of_surfactants = list_of_surfactants, list_of_ratios = list_of_ratios)

print(mix_stock_conc)
print(vol)

18.393939393939394
{'s1': 463.5272727272727, 's3': 198.65454545454543, 'None_3': 0, 'water': 1137.818181818182}

In [28]:
vol

{'s1': 463.5272727272727,
 's3': 198.65454545454543,
 'None_3': 0,
 'water': 1137.818181818182}

In [29]:
df = cmc_exp.calculate_volumes(cmc_concs, mix_stock_conc)
df

    concentration  surfactant volume  water volume  probe volume  total volume
0        2.023333              32.67        264.33             3         300.0
1        2.861425              46.20        250.80             3         300.0
2        4.046667              65.34        231.66             3         300.0
3        4.552500              73.51        223.49             3         300.0
4        5.159500              83.31        213.69             3         300.0
5        5.766500              93.11        203.89             3         300.0
6        6.373500             102.91        194.09             3         300.0
7        6.980500             112.71        184.29             3         300.0
8        7.587500             122.51        174.49             3         300.0
9        9.105000             147.01        149.99             3         300.0
10      12.876414             207.91         89.09             3         300.0
11      18.210000             294.03          2.97             3         300.0

In [30]:
list_of_surfactants

['s1', 's3', None]

In [31]:
list_of_ratios

[0.7, 0.3, 0.0]

In [32]:
vol

{'s1': 463.5272727272727,
 's3': 198.65454545454543,
 'None_3': 0,
 'water': 1137.818181818182}

In [33]:
df

    concentration  surfactant volume  water volume  probe volume  total volume
0        2.023333              32.67        264.33             3         300.0
1        2.861425              46.20        250.80             3         300.0
2        4.046667              65.34        231.66             3         300.0
3        4.552500              73.51        223.49             3         300.0
4        5.159500              83.31        213.69             3         300.0
5        5.766500              93.11        203.89             3         300.0
6        6.373500             102.91        194.09             3         300.0
7        6.980500             112.71        184.29             3         300.0
8        7.587500             122.51        174.49             3         300.0
9        9.105000             147.01        149.99             3         300.0
10      12.876414             207.91         89.09             3         300.0
11      18.210000             294.03          2.97             3         300.0

In [34]:
exp, small_exp = cmc_exp.generate_exp(list_of_surfactants, list_of_ratios)

In [35]:
exp

{'list_of_surfactants': ['s1', 's3', None],
 'list_of_ratios': [0.7, 0.3, 0.0],
 'original_surfactant_stock_concs': [50, 50, 50],
 'surfactant_mix_stock_conc': 18.393939393939394,
 'surfactant_mix_stock_vols': {'s1': 463.5272727272727,
  's3': 198.65454545454543,
  'None_3': 0,
  'water': 1137.818181818182},
 'estimated_CMC': 6.07,
 'df':     concentration  surfactant volume  water volume  probe volume  total volume
 0        2.023333              32.67        264.33             3         300.0
 1        2.861425              46.20        250.80             3         300.0
 2        4.046667              65.34        231.66             3         300.0
 3        4.552500              73.51        223.49             3         300.0
 4        5.159500              83.31        213.69             3         300.0
 5        5.766500              93.11        203.89             3         300.0
 6        6.373500             102.91        194.09             3         300.0
 7        6.980500             112.71        184.29             3         300.0
 8        7.587500             122.51        174.49             3         300.0
 9        9.105000             147.01        149.99             3         300.0
 10      12.876414             207.91         89.09             3         300.0
 11      18.210000             294.03          2.97             3         300.0}

In [36]:
small_exp

{'surfactant_mix_stock_vols': {'s1': 463.5272727272727,
  's3': 198.65454545454543,
  'None_3': 0,
  'water': 1137.818181818182},
 'solvent_mix_vol': [2.0233333333333334,
  2.8614254412015625,
  4.046666666666667,
  4.5525,
  5.1595,
  5.766500000000001,
  6.3735,
  6.9805,
  7.5875,
  9.105,
  12.87641448540703,
  18.21],
 'water_vol': [264.33,
  250.8,
  231.66,
  223.49,
  213.69,
  203.89,
  194.09,
  184.29,
  174.49,
  149.99,
  89.09,
  2.97],
 'pyrene_vol': [3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]}

In [37]:
exp['df'].sum(axis=0)

concentration          85.54284
surfactant volume    1381.22000
water volume         2182.78000
probe volume           36.00000
total volume         3600.00000
dtype: float64

In [38]:
for key in exp.keys():
    print (key)
    print(exp[key])
    print()

list_of_surfactants
['s1', 's3', None]

list_of_ratios
[0.7, 0.3, 0.0]

original_surfactant_stock_concs
[50, 50, 50]

surfactant_mix_stock_conc
18.393939393939394

surfactant_mix_stock_vols
{'s1': 463.5272727272727, 's3': 198.65454545454543, 'None_3': 0, 'water': 1137.818181818182}

estimated_CMC
6.07

df
    concentration  surfactant volume  water volume  probe volume  total volume
0        2.023333              32.67        264.33             3         300.0
1        2.861425              46.20        250.80             3         300.0
2        4.046667              65.34        231.66             3         300.0
3        4.552500              73.51        223.49             3         300.0
4        5.159500              83.31        213.69             3         300.0
5        5.766500              93.11        203.89             3         300.0
6        6.373500             102.91        194.09             3         300.0
7        6.980500             112.71        184.29             3         300.0
8        7.587500             122.51        174.49             3         300.0
9        9.105000             147.01        149.99             3         300.0
10      12.876414             207.91         89.09             3         300.0
11      18.210000             294.03          2.97             3         300.0

In [39]:
from cmc_generate_protocol import make_OTFlex_protocol

In [40]:
list_of_exps = {
    'new_exp1': small_exp,
    'new_exp2': small_exp,
    'new_exp3': small_exp,
    'new_exp4': small_exp,
    'new_exp5': small_exp,
    'new_exp6': small_exp,
    'new_exp7': small_exp,
    'new_exp8': small_exp,
    }

In [41]:
template_file_path = 'cmc_OTFlex_template.py'
output_file_path = 'cmc_OTFlex_protocol_new.py'

In [42]:
make_OTFlex_protocol(list_of_exps = list_of_exps, 
                     template_file_path = template_file_path, 
                     output_file_path =output_file_path, 
                     solvent_mix_loc = 'C1', 
                     row = 'A')