In [1]:
import cmc_conc

In [2]:
list_of_surfactants = ['surfactant_1', None, None]
list_of_ratios = [1, 0., 0.]

In [3]:
cmc_estimate = cmc_conc.CMC_estimate(list_of_surfactants, list_of_ratios)
cmc_estimate

0.1

In [4]:
cmc_concs = cmc_conc.generate_cmc_concentrations(cmc_estimate)
cmc_concs

[0.03333333333333334,
 0.047140452079103154,
 0.06666666666666665,
 0.07500000000000001,
 0.085,
 0.095,
 0.10500000000000001,
 0.115,
 0.125,
 0.15000000000000005,
 0.2121320343559643,
 0.30000000000000004]

In [5]:
mix_stock_conc, vol = cmc_conc.surfactant_mix(cmc_concs = cmc_concs, list_of_surfactants = list_of_surfactants, list_of_ratios = list_of_ratios)

print(mix_stock_conc)
print(vol)

0.3030303030303031
{'surfactant_1': 6.060606060606061, 'None_2': 0, 'None_3': 0, 'Water': 993.939393939394}

In [6]:
vol

{'surfactant_1': 6.060606060606061,
 'None_2': 0,
 'None_3': 0,
 'Water': 993.939393939394}

In [7]:
df = cmc_conc.calculate_volumes(cmc_concs, mix_stock_conc)
df

    concentration  surfactant volume  water volume  probe volume  total volume
0        0.033333              32.67        264.33             3         300.0
1        0.047140              46.20        250.80             3         300.0
2        0.066667              65.34        231.66             3         300.0
3        0.075000              73.51        223.49             3         300.0
4        0.085000              83.31        213.69             3         300.0
5        0.095000              93.11        203.89             3         300.0
6        0.105000             102.91        194.09             3         300.0
7        0.115000             112.71        184.29             3         300.0
8        0.125000             122.51        174.49             3         300.0
9        0.150000             147.02        149.98             3         300.0
10       0.212132             207.91         89.09             3         300.0
11       0.300000             294.03          2.97             3         300.0

In [8]:
list_of_surfactants

['surfactant_1', None, None]

In [9]:
list_of_ratios

[1, 0.0, 0.0]

In [10]:
vol

{'surfactant_1': 6.060606060606061,
 'None_2': 0,
 'None_3': 0,
 'Water': 993.939393939394}

In [11]:
df

    concentration  surfactant volume  water volume  probe volume  total volume
0        0.033333              32.67        264.33             3         300.0
1        0.047140              46.20        250.80             3         300.0
2        0.066667              65.34        231.66             3         300.0
3        0.075000              73.51        223.49             3         300.0
4        0.085000              83.31        213.69             3         300.0
5        0.095000              93.11        203.89             3         300.0
6        0.105000             102.91        194.09             3         300.0
7        0.115000             112.71        184.29             3         300.0
8        0.125000             122.51        174.49             3         300.0
9        0.150000             147.02        149.98             3         300.0
10       0.212132             207.91         89.09             3         300.0
11       0.300000             294.03          2.97             3         300.0

In [12]:
exp = cmc_conc.generate_exp(list_of_surfactants, list_of_ratios)

In [13]:
exp['df']

    concentration  surfactant volume  water volume  probe volume  total volume
0        0.033333              32.67        264.33             3         300.0
1        0.047140              46.20        250.80             3         300.0
2        0.066667              65.34        231.66             3         300.0
3        0.075000              73.51        223.49             3         300.0
4        0.085000              83.31        213.69             3         300.0
5        0.095000              93.11        203.89             3         300.0
6        0.105000             102.91        194.09             3         300.0
7        0.115000             112.71        184.29             3         300.0
8        0.125000             122.51        174.49             3         300.0
9        0.150000             147.02        149.98             3         300.0
10       0.212132             207.91         89.09             3         300.0
11       0.300000             294.03          2.97             3         300.0

In [14]:
for key in exp.keys():
    print (key)
    print(exp[key])
    print()

list_of_surfactants
['surfactant_1', None, None]

list_of_ratios
[1, 0.0, 0.0]

stock_concs
[50, 50, 50]

mix_stock_conc
0.3030303030303031

mix_stock_vol
{'surfactant_1': 6.060606060606061, 'None_2': 0, 'None_3': 0, 'Water': 993.939393939394}

estimated_CMC
0.1

cmc_concentrations
[0.03333333333333334, 0.047140452079103154, 0.06666666666666665, 0.07500000000000001, 0.085, 0.095, 0.10500000000000001, 0.115, 0.125, 0.15000000000000005, 0.2121320343559643, 0.30000000000000004]

df
    concentration  surfactant volume  water volume  probe volume  total volume
0        0.033333              32.67        264.33             3         300.0
1        0.047140              46.20        250.80             3         300.0
2        0.066667              65.34        231.66             3         300.0
3        0.075000              73.51        223.49             3         300.0
4        0.085000              83.31        213.69             3         300.0
5        0.095000              93.11        203.89             3         300.0
6        0.105000             102.91        194.09             3         300.0
7        0.115000             112.71        184.29             3         300.0
8        0.125000             122.51        174.49             3         300.0
9        0.150000             147.02        149.98             3         300.0
10       0.212132             207.91         89.09             3         300.0
11       0.300000             294.03          2.97             3         300.0